/*color variables */

$white: #fff;
$black: #000;
$blue: #000865;
$light_blue: #7987a1;
$light_blue1: #6571ff;
$light_blue2: #f0f1ff;
$gray: #e9ecef;
$gray1: #ced4da;
$gray2: #f9fafb;
$success: #198754;
$danger: #ff3366