<section class="about-section">
    <div class="content-wrap">
        <div class="custom-col about-block">
            <div class="custom-content">
                <div class="count-heading">
                    <h4>ABOUT</h4>
                    <div class="menu-icon">
                        <button at-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                            class="btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-more-horizontal icon-lg text-muted pb-3px" _ngcontent-wcq-c96=""
                                appfeathericon="">
                                <circle cx="12" cy="12" r="1"></circle>
                                <circle cx="19" cy="12" r="1"></circle>
                                <circle cx="5" cy="12" r="1"></circle>
                            </svg>
                        </button>
                    </div>
                </div>
                <p>
                    Hi! I'm Amiah the Senior UI Designer at NobleUI. We hope you enjoy the design and quality of Social.
                </p>
                <div class="inbox-wrap">
                    <div class="mail-wrap">
                        <div class="content-wrap">
                            <ul class="email-list">
                                <li>
                                    <a routerLink="#">
                                        <div class="email-heading">
                                            <p> <span class="name">JOINED:</span> <span>November 15, 2015</span></p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="#">
                                        <div class="email-heading">
                                            <p> <span class="name">LIVES:</span> <span>New York, USA</span></p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="#">
                                        <div class="email-heading">
                                            <p> <span class="name">EMAIL:</span> <span>me@nobleui.com</span></p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="#">
                                        <div class="email-heading">
                                            <p> <span class="name">WEBSITE:</span> <span>www.nobleui.com</span></p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="custom-col photo-block">
            <div class="custom-content">
                <div class="count-heading">
                    <div class="profile-info">
                        <img src="../../../../assets/imges/profile_img.jpg">
                        <div class="profile-content">
                            <p>Mike Popescu</p>
                            <span>1 min ago</span>
                        </div>
                    </div>
                    <div class="menu-icon">
                        <button at-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                            class="btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-more-horizontal icon-lg text-muted pb-3px" _ngcontent-wcq-c96=""
                                appfeathericon="">
                                <circle cx="12" cy="12" r="1"></circle>
                                <circle cx="19" cy="12" r="1"></circle>
                                <circle cx="5" cy="12" r="1"></circle>
                            </svg>
                        </button>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus minima delectus nemo unde quae
                    recusandae assumenda.</p>
                <img src="../../../../assets/imges/img1.jpg" alt="img-1">
            </div>
            <div class="custom-content">
                <div class="count-heading">
                    <div class="profile-info">
                        <img src="../../../../assets/imges/profile_img.jpg">
                        <div class="profile-content">
                            <p>Mike Popescu</p>
                            <span>5 min ago</span>
                        </div>
                    </div>
                    <div class="menu-icon">
                        <button at-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                            class="btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-more-horizontal icon-lg text-muted pb-3px" _ngcontent-wcq-c96=""
                                appfeathericon="">
                                <circle cx="12" cy="12" r="1"></circle>
                                <circle cx="19" cy="12" r="1"></circle>
                                <circle cx="5" cy="12" r="1"></circle>
                            </svg>
                        </button>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <img src="../../../../assets/imges/img2.jpg" alt="img-1">

            </div>
        </div>
        <div class="custom-col friends-block">
            <div class="custom-content">
                <div class="count-heading">
                    <h4>LATEST PHOTOS
                    </h4>
                </div>
                <ul class="img-list">
                    <li><img src="../../../../assets/imges/face1.jpg"> </li>
                    <li><img src="../../../../assets/imges/face2.jpg"> </li>
                    <li><img src="../../../../assets/imges/face3.jpg"> </li>
                    <li><img src="../../../../assets/imges/face4.jpg"> </li>
                    <li><img src="../../../../assets/imges/face5.jpg"> </li>
                    <li><img src="../../../../assets/imges/face6.jpg"> </li>
                    <li><img src="../../../../assets/imges/face7.jpg"> </li>
                    <li><img src="../../../../assets/imges/face8.jpg"> </li>
                    <li><img src="../../../../assets/imges/face9.jpg"> </li>
                </ul>
            </div>
            <div class="custom-content">
                <div class="outer-wrap inbox">
                    <div class="count-heading">
                        <h4>SUGGESTIONS FOR YOU</h4>

                    </div>
                    <div class="inbox-wrap">
                        <div class="mail-wrap">
                            <div class="content-wrap">
                                <ul class="email-list">
                                    <li>
                                        <a routerLink="#">
                                            <div class="email-heading">
                                                <i><img src="../../../assets/imges/notification_img.jpg"> </i>
                                                <p> <span class="name">Mike Popescu</span> <span>12 Mutual
                                                        Friends</span></p>
                                            </div>
                                            <span class="time" matTooltip="Connect"
                                                matTooltipClass="example-tooltip-uppercase"
                                                aria-label="Button that shows a red tooltip" mat-tooltip-panel-above
                                                matTooltipPosition="above"><img
                                                    src="../../../../assets/imges/contact.svg">
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="#">
                                            <div class="email-heading">
                                                <i><img src="../../../assets/imges/notification_img.jpg"> </i>
                                                <p> <span class="name">Mike Popescu</span> <span>12 Mutual
                                                        Friends</span></p>
                                            </div>
                                            <span class="time" matTooltip="Connect"
                                                matTooltipClass="example-tooltip-uppercase"
                                                aria-label="Button that shows a red tooltip" mat-tooltip-panel-above
                                                matTooltipPosition="above"><img
                                                    src="../../../../assets/imges/contact.svg">
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="#">
                                            <div class="email-heading">
                                                <i><img src="../../../assets/imges/notification_img.jpg"> </i>
                                                <p> <span class="name">Mike Popescu</span> <span>12 Mutual
                                                        Friends</span></p>
                                            </div>
                                            <span class="time" matTooltip="Connect"
                                                matTooltipClass="example-tooltip-uppercase"
                                                aria-label="Button that shows a red tooltip" mat-tooltip-panel-above
                                                matTooltipPosition="above"><img
                                                    src="../../../../assets/imges/contact.svg">
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="#">
                                            <div class="email-heading">
                                                <i><img src="../../../assets/imges/notification_img.jpg"> </i>
                                                <p> <span class="name">Mike Popescu</span> <span>12 Mutual
                                                        Friends</span></p>
                                            </div>
                                            <span class="time" matTooltip="Connect"
                                                matTooltipClass="example-tooltip-uppercase"
                                                aria-label="Button that shows a red tooltip" mat-tooltip-panel-above
                                                matTooltipPosition="above"><img
                                                    src="../../../../assets/imges/contact.svg">
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="#">
                                            <div class="email-heading">
                                                <i><img src="../../../assets/imges/notification_img.jpg"> </i>
                                                <p> <span class="name">Mike Popescu</span> <span>12 Mutual
                                                        Friends</span></p>
                                            </div>
                                            <span class="time" matTooltip="Connect"
                                                matTooltipClass="example-tooltip-uppercase"
                                                aria-label="Button that shows a red tooltip" mat-tooltip-panel-above
                                                matTooltipPosition="above"><img
                                                    src="../../../../assets/imges/contact.svg">
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="#">
                                            <div class="email-heading">
                                                <i><img src="../../../assets/imges/notification_img.jpg"> </i>
                                                <p> <span class="name">Mike Popescu</span> <span>12 Mutual
                                                        Friends</span></p>
                                            </div>
                                            <span class="time" matTooltip="Connect"
                                                matTooltipClass="example-tooltip-uppercase"
                                                aria-label="Button that shows a red tooltip" mat-tooltip-panel-above
                                                matTooltipPosition="above"><img
                                                    src="../../../../assets/imges/contact.svg">
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="#">
                                            <div class="email-heading">
                                                <i><img src="../../../assets/imges/notification_img.jpg"> </i>
                                                <p> <span class="name">Mike Popescu</span> <span>12 Mutual
                                                        Friends</span></p>
                                            </div>
                                            <span class="time" matTooltip="Connect"
                                                matTooltipClass="example-tooltip-uppercase"
                                                aria-label="Button that shows a red tooltip" mat-tooltip-panel-above
                                                matTooltipPosition="above"><img
                                                    src="../../../../assets/imges/contact.svg">
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>
                visibility
            </mat-icon>
            <span>View All</span>
        </button>
        <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
        </button>
        <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
        </button>

    </mat-menu>
</section>