<section class="dashboard-section">
    <div class="page-heading">
        <h3>Welcome to Dashboard</h3>
        <div class="btn-wrap">
            <div class="date-picker custom-form-field">
                <mat-form-field appearance="outline" disableRipple>
                    <input matInput [matDatepicker]="dp" [formControl]="date">
                    <mat-datepicker-toggle matIconPrefix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp disableRipple></mat-datepicker>
                </mat-form-field>
            </div>
            <button mat-stroked-button color="primary" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-printer btn-icon-prepend"
                    _ngcontent-wcq-c96="" appfeathericon="">
                    <polyline points="6 9 6 2 18 2 18 9"></polyline>
                    <path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path>
                    <rect x="6" y="14" width="12" height="8"></rect>
                </svg> Print </button>
            <button mat-flat-button color="primary" class="btn"> <svg xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-download-cloud btn-icon-prepend" _ngcontent-wcq-c96="" appfeathericon="">
                    <polyline points="8 17 12 21 16 17"></polyline>
                    <line x1="12" y1="12" x2="12" y2="21"></line>
                    <path d="M20.88 18.09A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.29"></path>
                </svg>Download Report </button>
        </div>

    </div>
    <div class="count-block-wrap">
        <div class="count-block">
            <div class="content-block">

                <div class="count-heading">
                    <h4>NEW CUSTOMERS</h4>
                    <div class="menu-icon">
                        <button at-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                            class="btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-more-horizontal icon-lg text-muted pb-3px" _ngcontent-wcq-c96=""
                                appfeathericon="">
                                <circle cx="12" cy="12" r="1"></circle>
                                <circle cx="19" cy="12" r="1"></circle>
                                <circle cx="5" cy="12" r="1"></circle>
                            </svg>
                        </button>

                    </div>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>
                                visibility
                            </mat-icon>
                            <span>View</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>
                                print
                            </mat-icon>
                            <span>Print</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>
                                download
                            </mat-icon>
                            <span>Download</span>
                        </button>
                    </mat-menu>
                </div>
                <div class="count-content">
                    <div class="left-content">
                        <h2>3,897</h2>
                        <span class="percentage green-text">

                            +3.3% <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-arrow-up icon-sm mb-1"
                                _ngcontent-wcq-c96="" appfeathericon="">
                                <line x1="12" y1="19" x2="12" y2="5"></line>
                                <polyline points="5 12 12 5 19 12"></polyline>
                            </svg>
                        </span>
                    </div>
                    <div class="right-content">
                        <canvas id="MyChart">{{ chart }}</canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="count-block">
            <div class="content-block">

                <div class="count-heading">
                    <h4>NEW ORDERS</h4>
                    <div class="menu-icon">
                        <button at-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                            class="btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-more-horizontal icon-lg text-muted pb-3px" _ngcontent-wcq-c96=""
                                appfeathericon="">
                                <circle cx="12" cy="12" r="1"></circle>
                                <circle cx="19" cy="12" r="1"></circle>
                                <circle cx="5" cy="12" r="1"></circle>
                            </svg>
                        </button>

                    </div>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>
                                visibility
                            </mat-icon>
                            <span>View</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>
                                print
                            </mat-icon>
                            <span>Print</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>
                                download
                            </mat-icon>
                            <span>Download</span>
                        </button>
                    </mat-menu>
                </div>
                <div class="count-content">
                    <div class="left-content">
                        <h2>35,084</h2>
                        <span class="percentage red-text">

                            -2.8% <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-arrow-down icon-sm mb-1"
                                _ngcontent-wcq-c96="" appfeathericon="">
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <polyline points="19 12 12 19 5 12"></polyline>
                            </svg>
                        </span>
                    </div>
                    <div class="right-content">
                        <canvas id="MyChart1">{{ chart1 }}</canvas>

                    </div>
                </div>
            </div>
        </div>
        <div class="count-block">
            <div class="content-block">

                <div class="count-heading">
                    <h4>GROWTH</h4>
                    <div class="menu-icon">
                        <button at-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                            class="btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-more-horizontal icon-lg text-muted pb-3px" _ngcontent-wcq-c96=""
                                appfeathericon="">
                                <circle cx="12" cy="12" r="1"></circle>
                                <circle cx="19" cy="12" r="1"></circle>
                                <circle cx="5" cy="12" r="1"></circle>
                            </svg>
                        </button>

                    </div>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>
                                visibility
                            </mat-icon>
                            <span>View</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>
                                print
                            </mat-icon>
                            <span>Print</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>
                                download
                            </mat-icon>
                            <span>Download</span>
                        </button>
                    </mat-menu>
                </div>
                <div class="count-content">
                    <div class="left-content">
                        <h2>89.87%</h2>
                        <span class="percentage green-text">

                            +2.8% <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-arrow-up icon-sm mb-1"
                                _ngcontent-wcq-c96="" appfeathericon="">
                                <line x1="12" y1="19" x2="12" y2="5"></line>
                                <polyline points="5 12 12 5 19 12"></polyline>
                            </svg>
                        </span>
                    </div>
                    <div class="right-content">
                        <canvas id="MyChart2">{{ chart2 }}</canvas>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="outer-wrap">
        <div class="count-heading">
            <h4>REVENUE</h4>
            <div class="menu-icon">
                <button at-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                    class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-more-horizontal icon-lg text-muted pb-3px" _ngcontent-wcq-c96=""
                        appfeathericon="">
                        <circle cx="12" cy="12" r="1"></circle>
                        <circle cx="19" cy="12" r="1"></circle>
                        <circle cx="5" cy="12" r="1"></circle>
                    </svg>
                </button>
            </div>
        </div>
        <div class="chart-title">
            <p>Revenue is the income that a business has from its normal business activities, usually from the sale of
                goods and services to customers.</p>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="bold">Today</mat-button-toggle>
                <mat-button-toggle value="italic">Week</mat-button-toggle>
                <mat-button-toggle value="underline">Month</mat-button-toggle>
                <mat-button-toggle value="underline">Year</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <canvas id="MyChart3">{{ chart3 }}</canvas>
    </div>
    <div class="chart-wrap">
        <div class="outer-wrap bar-chart">
            <div class="count-heading">
                <h4>MONTHLY SALES</h4>
                <div class="menu-icon">
                    <button at-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                        class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-more-horizontal icon-lg text-muted pb-3px" _ngcontent-wcq-c96=""
                            appfeathericon="">
                            <circle cx="12" cy="12" r="1"></circle>
                            <circle cx="19" cy="12" r="1"></circle>
                            <circle cx="5" cy="12" r="1"></circle>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="chart-title">
                <p>Sales are activities related to selling or the number of goods or services sold in a given time
                    period.</p>
            </div>
            <div class="bar-chart-container">
                <canvas id="MyChart4">{{ chart4 }}</canvas>
            </div>
        </div>
        <div class="outer-wrap">
            <div class="count-heading">
                <h4>CLOUD STORAGE</h4>
                <div class="menu-icon">
                    <button at-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                        class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-more-horizontal icon-lg text-muted pb-3px" _ngcontent-wcq-c96=""
                            appfeathericon="">
                            <circle cx="12" cy="12" r="1"></circle>
                            <circle cx="19" cy="12" r="1"></circle>
                            <circle cx="5" cy="12" r="1"></circle>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="chart-containers">
                <canvas id="MyChart5">{{ chart5 }}</canvas>
            </div>

            <button mat-flat-button color="primary" class="btn full-btn">Upgrade storage </button>
        </div>
    </div>
    <div class="chart-wrap">
        <div class="outer-wrap bar-chart">
            <div class="count-heading">
                <h4>MONTHLY SALES</h4>
                <div class="menu-icon">
                    <button at-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                        class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-more-horizontal icon-lg text-muted pb-3px" _ngcontent-wcq-c96=""
                            appfeathericon="">
                            <circle cx="12" cy="12" r="1"></circle>
                            <circle cx="19" cy="12" r="1"></circle>
                            <circle cx="5" cy="12" r="1"></circle>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="chart-title">
                <p>Sales are activities related to selling or the number of goods or services sold in a given time
                    period.</p>
            </div>
            <div id="chart">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [legend]="chartOptions.legend"
                    [dataLabels]="chartOptions.dataLabels" [colors]="chartOptions.colors"
                    [plotOptions]="chartOptions.plotOptions"></apx-chart>
            </div>


        </div>
        <div class="outer-wrap">
            <div class="count-heading">
                <h4>CLOUD STORAGE</h4>
                <div class="menu-icon">
                    <button at-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                        class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-more-horizontal icon-lg text-muted pb-3px" _ngcontent-wcq-c96=""
                            appfeathericon="">
                            <circle cx="12" cy="12" r="1"></circle>
                            <circle cx="19" cy="12" r="1"></circle>
                            <circle cx="5" cy="12" r="1"></circle>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="chart-containers">
                <div id="chart1">
                    <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart"
                        [plotOptions]="chartOptions1.plotOptions" [labels]="chartOptions1.labels"
                        [colors]="chartOptions1.colors">
                        [title]="chartOptions1.title">

                        ></apx-chart>
                </div>
            </div>

            <button mat-flat-button color="primary" class="btn full-btn">Upgrade storage </button>
        </div>
    </div>
    <div class="table-wrap">
        <div class="outer-wrap inbox">
            <div class="count-heading">
                <h4>INBOX</h4>
                <div class="menu-icon">
                    <button at-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                        class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-more-horizontal icon-lg text-muted pb-3px" _ngcontent-wcq-c96=""
                            appfeathericon="">
                            <circle cx="12" cy="12" r="1"></circle>
                            <circle cx="19" cy="12" r="1"></circle>
                            <circle cx="5" cy="12" r="1"></circle>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="inbox-wrap">
                <div class="mail-wrap">
                    <div class="content-wrap">
                        <ul class="email-list">
                            <li>
                                <a routerLink="#">
                                    <div class="email-heading">
                                        <i><img src="../../../assets/imges/notification_img.jpg"> </i>
                                        <p> <span class="name">Leonardo Payne</span> <span>Hey! there I'm
                                                available...</span></p>
                                    </div>
                                    <span class="time">12.30 PM</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="#">
                                    <div class="email-heading">
                                        <i><img src="../../../assets/imges/notification_img.jpg"> </i>
                                        <p> <span class="name">Carl Henson</span> <span>I've finished it! See you
                                                so..</span></p>
                                    </div>
                                    <span class="time">02.14 AM</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="#">
                                    <div class="email-heading">
                                        <i><img src="../../../assets/imges/notification_img.jpg"> </i>
                                        <p> <span class="name">Jensen Combs</span> <span>This template is
                                                awesome!</span></p>
                                    </div>
                                    <span class="time">08.22 PM</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="#">
                                    <div class="email-heading">
                                        <i><img src="../../../assets/imges/notification_img.jpg"> </i>
                                        <p> <span class="name">Amiah Burton</span> <span>Nice to meet you</span></p>
                                    </div>
                                    <span class="time">05.49 AM</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="#">
                                    <div class="email-heading">
                                        <i><img src="../../../assets/imges/notification_img.jpg"> </i>
                                        <p> <span class="name">Yaretzi Mayo</span> <span>Hey! there I'm
                                                available...</span></p>
                                    </div>
                                    <span class="time">01.19 aM</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="outer-wrap ">
            <div class="count-heading">
                <h4>PROJECTS</h4>

                <div class="custom-form-field">
                    <mat-form-field appearance="outline">
                        <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>

                    </mat-form-field>
                </div>
            </div>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort
                (matSortChange)="announceSortChange($event)">
                <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> #
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.no}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> PROJECT
                        NAME </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="sdate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by sname"> START
                        DATE </th>
                    <td mat-cell *matCellDef="let element"> {{element.sname}} </td>
                </ng-container>
                <ng-container matColumnDef="edate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ename"> DUE
                        DATE </th>
                    <td mat-cell *matCellDef="let element"> {{element.ename}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status"> STATUS
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <button class="btn" mat-raised-button color={{element.color}}>{{element.status}}</button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="assing">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by assing"> ASSIGN
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.assing}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>


        </div>
    </div>
</section>