<div class="auth-page">
    <div class="auth-content">
        <div class="img-wrap"></div>
        <div class="content-wrap">
            <a routerLink="#"  title="Noble UI" class="logo">
                Noble<span>UI</span>
            </a>
            <p>Welcome back! Log in to your account.     </p>
            <form>
               
                <div class="custom-form-field">
                    <label for="uname">Email address</label>
                    <mat-form-field appearance="outline" >
                        <input matInput placeholder="Email " id="email" [formControl]="email">
                      </mat-form-field>
                </div>
                <div class="custom-form-field">
                    <label for="uname">Password</label>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Password" id="uname" [formControl]="password">        
                      </mat-form-field >
                </div>
                <mat-checkbox class="example-margin"  color=primary>Remember me</mat-checkbox>
                <div class="btn-wrap">
                    <a routerLink="pages"  mat-flat-button color="primary" class="btn" >Login  </a>
                    <a routerLink="#"   mat-stroked-button color="primary" class="btn" >Login  with twitter </a>
                </div>
            </form>
            <p>Not a user? <a routerLink="/sign_up" title="Sign up"> Sign up</a>   </p>
        </div>
    </div>
</div>
