<section class="pricing-section">
    <div class="page-breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">General pages</li>
            <li class="breadcrumb-item current-item">Pricing</li>
        </ul>
    </div>
    <div class="pricing_content_wrap">
        <div class="pricing-title">
            <h2>Choose a plan</h2>
            <p>Choose the features and functionality your team need today. Easily upgrade as your company grows.</p>
        </div>
        <div class="pricing_content">
            <div class="plan-list">
                <div class="custom-plan">
                    <div class="custom-plan-content">
                        <h3>Basic</h3>
                            <i><img src="../../../../assets/imges/award.svg"> </i>
                        <h1>$40</h1>
                        <p>per month</p>
                        <span>Up to 25 units</span>
                        <ul class="plan_detail">
                            <li>Accounting dashboard</li>
                            <li>Invoicing</li>
                            <li>Online payments</li>
                            <li class="not-permit">Branded website</li>
                            <li class="not-permit">Dedicated account manager</li>
                            <li class="not-permit">Premium apps</li>
                        </ul>
                        <button mat-flat-button color="primary" class="btn">Start free trial </button>
                    </div>

                </div>
                <div class="custom-plan">
                    <div class="custom-plan-content">
                        <h3>Business</h3>
                        <i><img src="../../../../assets/imges/gift.svg"> </i>
                        <h1>$70</h1>
                        <p>per month</p>
                        <span class="green-text"> Up to 75 units</span>
                        <ul class="plan_detail">
                            <li>Accounting dashboard</li>
                            <li>Invoicing</li>
                            <li>Online payments</li>
                            <li>Branded website</li>
                            <li>Dedicated account manager</li>
                            <li class="not-permit">Premium apps</li>
                        </ul>
                        <button mat-flat-button class="btn green-btn">Start free trial </button>
                    </div>

                </div>
                <div class="custom-plan">
                    <div class="custom-plan-content">
                        <h3>Professional</h3>
                        <i><img src="../../../../assets/imges/briefcase.svg"> </i>

                        <h1>$250</h1>
                        <p>per month</p>
                        <span>Up to 300 units</span>
                        <ul class="plan_detail">
                            <li>Accounting dashboard</li>
                            <li>Invoicing</li>
                            <li>Online payments</li>
                            <li>Branded website</li>
                            <li>Dedicated account manager</li>
                            <li>Premium apps</li>
                        </ul>
                        <button mat-flat-button color="primary" class="btn">Start free trial </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>