<section class="friend-section">
    <ul class="img-list">
        <li><img src="../../../../assets/imges/face1.jpg"> </li>
        <li><img src="../../../../assets/imges/face2.jpg"> </li>
        <li><img src="../../../../assets/imges/face3.jpg"> </li>
        <li><img src="../../../../assets/imges/face4.jpg"> </li>
        <li><img src="../../../../assets/imges/face5.jpg"> </li>
        <li><img src="../../../../assets/imges/face6.jpg"> </li>
        <li><img src="../../../../assets/imges/face7.jpg"> </li>
        <li><img src="../../../../assets/imges/face8.jpg"> </li>
        <li><img src="../../../../assets/imges/face9.jpg"> </li>
        <li><img src="../../../../assets/imges/face1.jpg"> </li>
        <li><img src="../../../../assets/imges/face2.jpg"> </li>
        <li><img src="../../../../assets/imges/face3.jpg"> </li>
        <li><img src="../../../../assets/imges/face4.jpg"> </li>
        <li><img src="../../../../assets/imges/face5.jpg"> </li>
        <li><img src="../../../../assets/imges/face6.jpg"> </li>

    </ul>
</section>